<form action="<%= session_url %>" method="post">
  <%= render "shared/auth_token" %>

  <label>
    Username
    <input type="text" name="session[username]" value="<%= @username %>">
  </label>
  <br>

  <label>
    Password
    <input type="password" name="session[password]">
  </label>
  <br>

  <input type="submit" value= "Login"  class="btn btn-primary">
</form>
